# Exclude everything
/*

# Except for default project files
!/.github
!/.vscode
/.vscode/settings.json
!/build-aux
!/cmake
!/data
!/docs
!/src
!/tests
!/unsupported
/unsupported/arch/*/*
!/unsupported/arch/*/PKGBUILD
/unsupported/flatpak/*
!/unsupported/flatpak/patches/
!/unsupported/flatpak/*.xml
!/unsupported/flatpak/*.json
!/unsupported/flatpak/README.md
!/vcpkg-triplets
!/vendor
!.aiexclude
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!LICENSE.*
!README.md
!vcpkg-configuration.json
!vcpkg.json

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
