---
import Layout from "../layouts/Layout.astro";
---

<Layout
  lang="en"
  title="404 Not Found"
  description="The requested page could not be found."
>
  <main class="white-box">
    <h1>404 Not Found</h1>
    <a href="/">Back to Top</a>
  </main>
</Layout>
