---
import { joinURL, withTrailingSlash } from "ufo";

import Layout from "../layouts/Layout.astro";
import { GITHUB_URL } from "../lib/info.js";

const { BASE_URL } = import.meta.env;
---

<Layout lang="en" title="404 Not Found">
  <Fragment slot="head-info">
    <meta name="description" content="The requested page could not be found." />
  </Fragment>

  <main class="white-box">
    <h1>404 Not Found</h1>

    <p>Think this is a bug?</p>
    <p>
      <a href={joinURL(GITHUB_URL, "issues")}>Report an issue on GitHub </a>
    </p>

    <nav class="page-nav" aria-label="Page navigation">
      <ul>
        <li>
          <a href={withTrailingSlash(BASE_URL)}>Back to Top</a>
        </li>
        <li>
          <a
            href={withTrailingSlash(GITHUB_URL)}
            target="_blank"
            rel="noopener noreferrer">GitHub Repository</a
          >
        </li>
      </ul>
    </nav>
  </main>
</Layout>
